@font-face {
    font-family: Lugrasimo-Regular;
    src: url(./assets/fonts/Lugrasimo-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
    border: none;
    font-family: Roboto-Medium;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    footer {
        font-size: 1rem;
        padding: 32px 16px;
    }

    form > div {
        font-size: 1rem;
    }

    h1 {
        font-size: 5.75rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    input[type='submit'] {
        font-size: 1.125rem;
        width: 60%;
    }

    input[type='text'],
    textarea {
        font-size: 0.875rem;
    }

    nav button {
        font-size: 1.125rem;
        padding: 8px 16px;
    }

    #acceptContainer label {
        font-size: 1.125rem;
    }

    #contactContainerBody {
        flex-wrap: nowrap;
    }

    #contactContainerBody label:not(#acceptContainer label),
    #contactContainerBody span {
        font-size: 1.25rem;
    }

    #contactContainerHeader {
        flex-direction: row;
    }

    #contactInfoContainer > a {
        font-size: 1.125rem;
    }

    #contactInfoContainer > div {
        font-size: 1rem;
    }

    #imageContainer img {
        width: 30%;
    }

    #imprintContainer {
        flex-wrap: nowrap;
    }

    #imprintContainer div {
        font-size: 1rem;
        padding-bottom: 4px;
    }

    #imprintContainer a,
    #imprintContainer span {
        font-size: 1.25rem;
    }

    #imprintContainer img {
        width: 480px;
    }

    #mainContainer,
    #eventsContainer {
        gap: 16px;
        grid-template: auto / repeat(3, 1fr);
    }

    .mainCard img {
        width: 60%;
    }

    .mainCard span,
    .eventsCard span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        font-size: 1rem;
        padding: 32px 16px;
    }

    form > div {
        font-size: 1rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.125rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    input[type='submit'] {
        font-size: 1.125rem;
        width: 60%;
    }

    input[type='text'],
    textarea {
        font-size: 0.875rem;
    }

    nav button {
        font-size: 1.125rem;
        padding: 8px 16px;
    }

    #acceptContainer label {
        font-size: 1.125rem;
    }

    #contactContainerBody {
        flex-wrap: nowrap;
    }

    #contactContainerBody label:not(#acceptContainer label),
    #contactContainerBody span {
        font-size: 1.25rem;
    }

    #contactContainerHeader {
        flex-direction: row;
    }

    #contactInfoContainer > a {
        font-size: 1.125rem;
    }

    #contactInfoContainer > div {
        font-size: 1rem;
    }

    #imageContainer img {
        width: 30%;
    }

    #imprintContainer {
        flex-wrap: nowrap;
    }

    #imprintContainer div {
        font-size: 1rem;
        padding-bottom: 4px;
    }

    #imprintContainer a,
    #imprintContainer span {
        font-size: 1.25rem;
    }

    #imprintContainer img {
        width: 50%;
    }

    #mainContainer,
    #eventsContainer {
        gap: 16px;
        grid-template: auto / repeat(3, 1fr);
    }

    .mainCard img {
        width: 60%;
    }

    .mainCard span,
    .eventsCard span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        font-size: 0.875rem;
        padding: 24px 16px;
    }

    form > div {
        font-size: 0.875rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    input[type='submit'] {
        font-size: 1rem;
        width: 80%;
    }

    input[type='text'],
    textarea {
        font-size: 0.875rem;
    }

    nav button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    #acceptContainer label {
        font-size: 1rem;
    }

    #contactContainerBody {
        flex-wrap: wrap;
    }

    #contactContainerBody label:not(#acceptContainer label),
    #contactContainerBody span {
        font-size: 1.125rem;
    }

    #contactContainerHeader {
        flex-direction: column;
    }

    #contactInfoContainer > a {
        font-size: 1rem;
    }

    #contactInfoContainer > div {
        font-size: 1rem;
    }

    #imageContainer img {
        width: 40%;
    }

    #imprintContainer {
        flex-wrap: wrap;
    }

    #imprintContainer div {
        font-size: 1rem;
        padding-bottom: 4px;
    }

    #imprintContainer a,
    #imprintContainer span {
        font-size: 1.125rem;
    }

    #imprintContainer img {
        width: 80%;
    }

    .mainCard span,
    .eventsCard span {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        font-size: 0.75rem;
        padding: 16px 8px;
    }

    form > div {
        font-size: min(5vw, 0.875rem);
    }

    h1 {
        font-size: min(15vw, 3.5rem);
    }

    h2 {
        font-size: min(7.5vw, 1.5rem);
    }

    h3 {
        font-size: min(8vw, 1.75rem);
    }

    h4 {
        font-size: min(6.5vw, 1.125rem);
    }

    input[type='submit'] {
        font-size: min(5.5vw, 1rem);
        width: 100%;
    }

    input[type='text'],
    textarea {
        font-size: min(5vw, 0.875rem);
    }

    nav button {
        font-size: min(5vw, 0.875rem);
        padding: 8px;
    }

    #acceptContainer label {
        font-size: min(5.5vw, 1rem);
    }

    #contactContainerBody {
        flex-wrap: wrap;
    }

    #contactContainerBody label:not(#acceptContainer label),
    #contactContainerBody span {
        font-size: min(6.5vw, 1.125rem);
    }

    #contactContainerHeader {
        flex-direction: column;
    }

    #contactInfoContainer > a {
        font-size: min(5.5vw, 1rem);
    }

    #contactInfoContainer > div {
        font-size: min(5.5vw, 1rem);
    }

    #imageContainer img {
        width: min(384px, 100%);
    }

    #imprintContainer {
        flex-wrap: wrap;
    }

    #imprintContainer div {
        font-size: min(5.5vw, 1rem);
        padding-bottom: 4px;
    }

    #imprintContainer a,
    #imprintContainer span {
        font-size: min(6.5vw, 1.125rem);
    }

    #imprintContainer img {
        width: max(160px, 80%);
    }

    #mainContainer,
    #eventsContainer {
        gap: 32px;
        grid-template: repeat(3, auto) / auto;
    }

    .eventsCard {
        justify-self: center;
        width: max(224px, 80%);
    }

    .mainCard {
        justify-self: center;
        width: max(192px, 60%);
    }

    .mainCard img {
        width: 100%;
    }

    .mainCard span,
    .eventsCard span {
        font-size: min(7.5vw, 1.5rem);
    }
}

body {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(72, 197, 245, 1) 100%
    );
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
    min-height: 100svh;
}

body > * {
    background-color: #f8f1f1;
}

footer {
    align-items: center;
    background-color: #2f2e2e;
    color: #f8f1f1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    text-wrap: balance;
}

footer a {
    color: #f8f1f1;
    padding: 4px 8px;
    text-decoration: underline solid #f8f1f1 2px;
}

footer a:hover {
    color: #edb87c;
    text-decoration: underline solid #edb87c 2px;
}

footer a:active {
    color: #b88448;
    text-decoration: underline solid #b88448 4px;
}

footer a:focus-visible {
    border-radius: 8px;
    outline: #854d0e solid 2px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    padding: 0px 16px 16px;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    text-wrap: balance;
}

h1 {
    color: #854d0e;
    font-family: Lugrasimo-Regular;
    padding: 8px 16px;
}

h2 {
    color: #b91313;
    padding: 0px 16px;
}

h3 {
    padding: 32px 8px;
    font-weight: 100;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

input:focus-visible,
textarea:focus-visible {
    outline: #171717 solid 4px;
}

input[type='submit'] {
    border-radius: 16px;
    margin: auto;
    padding: 12px 16px;
}

input[type='text'],
textarea {
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

input[type='checkbox'] {
    align-self: center;
    height: 0%;
    padding: 8px;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

main h3 {
    color: #854d0e;
    padding-bottom: 16px;
}

nav {
    display: flex;
    justify-content: center;
}

nav button {
    background-color: #e8e6e6;
    color: #451a03;
}

nav button:hover {
    background-color: rgba(69, 26, 3, 0.1);
    cursor: pointer;
}

nav button:active {
    background-color: rgba(69, 26, 3, 0.2);
}

#acceptContainer {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
    text-wrap: balance;
}

#contactContainerBody {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

#contactContainerBody > div {
    flex: 1 1 0px;
}

#contactContainerBody label:not(#acceptContainer label),
#contactContainerBody span {
    padding-bottom: 8px;
}

#contactContainerHeader {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

#contactInfoContainer > a {
    border-radius: 8px;
    color: #171717;
    display: block;
    margin-bottom: 8px;
    padding: 0px 16px;
    width: fit-content;
}

#contactInfoContainer > a:focus-visible {
    outline: #171717 solid 2px;
}

#contactInfoContainer > div {
    padding-bottom: 4px;
}

#contactInfoContainer > div:nth-of-type(3n + 2) {
    padding-bottom: 24px;
}

#contactInfoContainer > span {
    display: inline-block;
    padding: 0px 8px 8px 0px;
}

#contactMessageInput {
    min-height: 128px;
}

#contactWrapper {
    background-color: rgba(133, 77, 14, 0.85);
    color: #f8f1f1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

#contactWrapper h3 {
    padding: 0px 0px 8px;
    text-align: left;
}

#contactWrapper h4 {
    font-weight: 100;
    text-align: left;
}

#contactWrapper img {
    border-radius: 16px;
    max-width: 384px;
}

#events {
    background-color: rgba(133, 77, 14, 0.85);
}

#events h3 {
    color: #f8f1f1;
}

#eventsContainer {
    display: inline-grid;
    padding: 8px;
    padding-bottom: 32px;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 32px 8px 8px;
}

#imageContainer img {
    aspect-ratio: 4/3;
    object-fit: cover;
    min-width: 192px;
}

#imprintContainer {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 32px;
}

#imprintContainer a {
    color: #854d0e;
    font-weight: 500;
    padding: 12px 16px;
    width: fit-content;
}

#imprintContainer a:focus-visible {
    border-radius: 16px;
    outline: #854d0e solid 2px;
}

#imprintContainer img {
    align-self: flex-start;
    border-radius: 16px;
    object-fit: contain;
    margin-top: 16px;
}

#imprintContainer span {
    font-weight: 500;
    padding: 16px 0px 8px;
}

#imprintInfo {
    width: max(384px, 80%);
    display: flex;
    flex-direction: column;
}

#imprintWrapper h3 {
    color: #854d0e;
    padding: 32px;
    padding-bottom: 0px;
    text-align: left;
}

#mainContainer {
    display: inline-grid;
    padding: 8px;
    padding-bottom: 32px;
}

.eventsCard,
.mainCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.eventsCard div,
.mainCard div {
    font-size: 1rem;
    text-align: center;
    text-wrap: balance;
}

.eventsCard img {
    aspect-ratio: 1/1;
    border-radius: 25%;
    height: auto;
    object-fit: cover;
    margin: 0px auto;
    width: 80%;
}

.eventsCard span {
    color: #f8f1f1;
    padding: 8px;
    text-align: center;
}

.eventsCard div {
    color: #e5dbdb;
}

.mainCard img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    height: auto;
    object-fit: cover;
    margin: 0px auto;
}

.mainCard span {
    color: #854d0e;
    padding: 8px;
    text-align: center;
}
